<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

    <script>
        // 拦截器
        axios.interceptors.request.use(function (config) {
            console.log('请求发出前，执行的方法')
            return config;
        }, function (error) {
            return Promise.reject(error);
        });

        axios.interceptors.response.use(function (response) {
            // console.log('请求成功后，第一个调用的方法')
            // console.log(response.headers.authorization)

            const { authorization } = response.headers
            authorization && localStorage.setItem('token',authorization)

            console.log(localStorage.getItem('token')) 
            return response;
        }, function (error) {
            return Promise.reject(error);
        });
    </script>
</head>

<body>
    <h1>登录页面</h1>

    <div>
        <div>用户名：<input type="text" id="username"></div>
        <div>密码：<input type="password" id="password"></div>
        <div><button id="register">登录</button></div>
    </div>

    <script>
        var username = document.querySelector('#username')
        var password = document.querySelector('#password')
        var register = document.querySelector('#register')

        register.onclick = () => {
            axios.post('/user/login', {
                username: username.value,
                password: password.value,
            }).then(res => {
                console.log(res.data)
                if (res.data.ok === 1) {
                    // 存储token值
                    location.href = '/'
                } else {
                    alert('用户名或密码错误！')
                }
            })
        }

    </script>
</body>

</html>